<a href="https://colab.research.google.com/github/carlos-2904/edd_1310_20221/blob/master/6Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
 # string continuación
 numeros_txt = "1,  2, 3, 4, 5, 35, 15 , 12"
 print (numeros_txt)
 numeros_txt =numeros_txt.lstrip().split(',')
 print (numeros_txt)

 for j in range(len(numeros_txt)):
    numeros_txt[ j ] = int(numeros_txt[j].strip())

 print(numeros_txt)

 #funcion range

 #range(inicio, stop , incremento )
 print(range(1,10,3))
 rango = range(1,10,2)

 for x in rango:
  print(x)

1,  2, 3, 4, 5, 35, 15 , 12
['1', '  2', ' 3', ' 4', ' 5', ' 35', ' 15 ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9

# listas
- mutables
- declaran con []
- selector [ int ]
- pueden ser de caulquier tipo y mezclado

# tuplas
- no mutable
- declaran con ()
- selector [ int ]

# diccionarios
- son mutables 
- son conjuntos de pares llave:valor
- equivalente a los objetos de JSON de javascript


# conjuntos
- representación de la teoria de conjuntos

In [41]:
# listas

frutas = ["pera" , "manzana" , "fresa" , "kiwi" , "naranja"]
print(frutas)
cosas = ["cuaderno", 2 , 3.1416 , True , False , ["rojo" , "azul"] ]
print(cosas)
frutas[2]="Fresa"
print(frutas)
#agregar lista
frutas.append("aguacate")
print(frutas)
frutas.insert(2,"sandia")
print(frutas)

fecha = ["06","10","2020"] #06/102020
print(fecha) 
fecha_str = "/".join(fecha)
print(fecha_str)

# eliminar elementos

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'aguacate']
['pera', 'manzana', 'sandia', 'Fresa', 'kiwi', 'naranja', 'aguacate']
['06', '10', '2020']
06/10/2020

In [56]:
# Eliminar elementor
cosas = ["cuaderno", 2 , 3.1416 , True , False , ["rojo" , "azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)

print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)
# Ordenar listas
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro', 'Lapiz']
3.1416
['cuaderno', 2, True, False, ['rojo', 'azul'], 'Libro', 'Lapiz']
3.1416
['Fresa', 'aguacate', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']
['Fresa', 'aguacate', 'kiwi', 'manzana', 'naranja', 'pera', 'sandia']

In [57]:
# slicing 

cosas = ["cuaderno", 2 , 3.1416 , True , False ["rojo" , "azul"] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

TypeError: ignored

In [61]:
numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,]
print(numeros[8:12:1])

#sustituir rebanadas -2,-2 ---> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]

numeros[8:13:] =[-2,-2] 
print( -2 in numeros)

#preguntar por existencia 
print( 100 in numeros)

[8, 9, 10, 11]
True
False

Listas multi dimensión

- listas dentro de listas

In [69]:
computadoras =["HP", "Mac Book Pro 12" , "Mate book" , "Lenovo legion"]
oss = [ "Windows 10" , "Linux" , "Android" , "iOS0" ]

computo = [computadoras , oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])

dbms = [ ["Mysql","Open Source" , False] ,["MS SQL server","de paga", True] ]
computo.append(dbms) 
print(computo) 
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 12', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS0']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 12', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS0'], [['Mysql', 'Open Source', False], ['MS SQL server', 'de paga', True]]]
Mysql
de paga